1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

In [41]:
name = "*"  '''this is expression'''
print(name)

*this is expression

In [11]:
name1 = 'hello'   ''' this is value'''
print(name1)

hello

In [17]:
name2 = -87.8   ''' this is value'''
type(-87.8)

float

In [33]:
name3= "-" ''' this is expression'''
print(name3)

- this is expression

In [31]:
name4 = "/" '''this is expression'''
print(name4)

/this is expression

In [47]:
name5 = "+"   ''' ths is expression'''
print(name5)

+ ths is expression

In [49]:
name6 = "6"   '''this is value'''
print(name6)

6this is value

2. What is the difference between string and variable?

String:String are sequence of characters enclosed within single quote, double quote or they are represent text date. Eg: 
:'hello', "python class"

variable: Variable are named storage location in memory that hold value.they act as a containers that can store different date type
including string eg: my_variable = "hello python"

2.srting are used to represent textual data while variable are used to store and manipulate date of various type including string.

3.string are immutable,means there individual cannot be changed once the string is created variable are mutable ,we can change the values tored 
 in variable at any time

3. Describe three different data types.

string data type:the string is a sequence of characters, string is represent by either single or double code like 'hello'
"hello pythone"

int data type: it represent interger number like 12,13,14

float data type : It represent desimal number like 15.54,6.58 etc

4. What is an expression made up of? What do all expressions do?

An expression is made vlaue like number, string variable  and operators like +,-,*,/

it can also include fundtion cell,  parentheses, and other constructs depending  on programing languange.

All expression are evaluated to produce a result .The main purpose of expression to compute or return a value after performing operation.

In [10]:
3+5

8

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression is a combination of value, variable string and combination when evaluted this prduce a result
eg '4+5=9' produce a result

A statement is instruction in a program that perform a taks but does not produce a result

eg spam = 10 is a statement as the value is 10 of varible 'spam'

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

The variable bacon contain the number "22 " and bacon +1 still contain the variable is 'bacon'

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

when we add two string  'spam'+'spamspam' we get the result spamspamspam

In [26]:
'spam'+'spamspam'

'spamspamspam'

when we repetition of string in 3 time we get the result is spamspamspam

In [28]:
'spam'*3

'spamspamspam'

in both case the result is spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

variable always start with letter as eggs start with letter so eggs is valid variable but 100 start with numeric so 100
is not valid variable

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

to convert a value in interger float and string in python we use following method.

In [41]:
my_list = 6.9
print(int(my_list))

6

In [43]:
print(float(my_list))

6.9

In [49]:
print(str(my_list))

6.9

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

pyhton does not allow the concatenation of string and integer directly

in the expression  'I have eaten ' + 99 + ' burritos.' 'I have eaten ' is a string , 99 is a interger and  burritos is a string python
 expects all parts of the concatenation to be of the same type but 99 is inter so we can fix this with

In [63]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'